<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration 
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
    <configuration>

        <settings>
        <setting name="mapUnderscoreToCamelCase" value="true" />
     	</settings>
     	
     	
        <typeAliases>
            <typeAlias type="com.bridgeimpact.renewal.dto.MemberVO" alias="memberVO"/>
            <typeAlias type="com.bridgeimpact.renewal.dto.ArticleVO" alias="articleVO"/>
            <typeAlias type="com.bridgeimpact.renewal.dto.CommentVO" alias="commentVO"/>
            <typeAlias type="com.bridgeimpact.renewal.dto.BoardVO" alias="boardVO"/>
            <typeAlias type="com.bridgeimpact.renewal.dto.FileVO" alias="fileVO"/>
            <typeAlias type="com.bridgeimpact.renewal.common.PageUtil" alias="pageUtil"/>
            <typeAlias type="com.bridgeimpact.renewal.dto.EmailAuthVO" alias="emailAuthVO"/>
        
        </typeAliases>
        
        
    
    </configuration>
